@font-face {
    font-family: "Tilda Sans VF";
    font-style: normal;
    src:
         url("/fonts/web/TildaSans-VF.woff2") format("woff2"),
         url("/fonts/web/TildaSans-VF.woff") format("woff");
  }