.footer {
    background-color: var(--dark-blue);
    padding-top: 56px;
    padding-bottom: 72px;
}
.footer__container {
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 15px;
}
.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.footer__row-col1 h3 {
    color: var(--white);
    margin-bottom: 16px;
}
.footer__row-col1 p, .footer__row-col1 a  {
    color: var(--white);
    font-weight: 400;
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}
.footer__row-col2 {
    flex: 0 1 40%;
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: right;

}