.hero {
    background-image: url(../img/Ellipse\ 3.jpg);
    background-position: right;
    background-repeat: no-repeat;
    padding-top: 160px;
    padding-bottom: 210px;
    z-index: 2;
    overflow: hidden;
    position: relative;
}
.hero__container {
    max-width: 1370px;
    padding: 0 15px;
    margin: 0 auto;
    height: auto;
}
.hero__img {
}
.hero__img-pic {
    position: absolute;
    right: 0;
    bottom: 0;
}

.hero__title {
    margin-bottom: 32px;
    font-size: 96px;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: -0.01em;
}
.hero__block-text {
    max-width: 810px;
    height: auto;
    position: relative;
    z-index: 5;
}
.hero__description {
    font-size: 24px;
    margin-bottom: 80px;
}
a.hero__button {
    padding: 20px 28px 20px 28px;
    text-decoration: none;
    border-radius: 24px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0em;
    color: var(--white);
    text-align: left;
    background-color: var(--orange);
    transition: all 0.4s ease;
}
.hero__button:hover {
    background-color: var(--light-orange);
}
h1 {
    overflow-wrap: break-word;
}