.inside__container {
    max-width: 1370px;
    padding: 0 15px;
    margin: 0 auto;
}
.inside {
    padding: 100px;
    background-color: var(--white);
    position: relative;
    overflow: hidden;
}
.inside__card  {
    padding: 32px;
    border-radius: 24px;
    overflow: hidden;
    background-color: var(--white-for-card);
}
.inside__card h3 {
    margin: 20px 0;
    font-weight: 700;
}
.inside__card p {
    font-size: 20px;
    line-height: 24px;
}
.inside__card img.icon {
    width: 48px;
    height: 48px;
}
.inside__grid-box {
    width: 100%;
    position: relative;
    z-index: 5;
    margin-top: 60px;
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.card--big {
    background-color: var(--white-for-big-card);
    position: relative;
    grid-column: span 2;
    grid-row: span 2;
    padding-bottom: 480px;
    overflow: hidden;
}
.card--long {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.card--s {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 50px;
}
.inside-phone {
    position: absolute;
    bottom: 0%;
    right: 44px;
}
.inside-phone.phone1 {
    z-index: 5;
}
.inside-phone.phone2 {
    bottom: 0%;
    right: 40%;
    z-index: 4;
}
.inside-circle-right {
    width: 810px;
    height: 810px;
    background-color: var(--light-fiol);
    filter: blur(1.1em);
    position: absolute;
    top: 25%;
    right: -5%;
    border-radius: 50%;
}
.inside-circle-left {
    width: 810px;
    height: 810px;
    background: linear-gradient(180deg, #FDF2F8 0%, #FFF7ED 100%);
    filter: blur(1.1em);
    position: absolute;
    bottom: 0%;
    left: -20%;
    border-radius: 50%;
}
.inside__card-pink {
    background-color: var(--light-pink);
}
.card--bottom {
}
.card--bottom-img {
    position: absolute;
    top: 24px;
    left: 0%;
}
.inside__card.inside__card-pink.card--long {
    position: relative;
}