.header {
    background-color: #fff;
    z-index: 45;
    position: fixed;
    width: 100%;
}
.navbar {
    width: 100%;
}
.navbar__container {
    max-width: 1230px;
    margin: 0 auto;
    display: flex;
    min-height: 100px;
    align-items: center;
    justify-content: space-between;
}
.hero__title {
    font-size: 96px;
    margin-bottom: 32px;
    font-size: 96px;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: -0.01em;
}
.navbar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-decoration: none;
}
.logo__box {
    width: 70px;
    height: 70px;
    background: url(../img/Remove-bg.ai_1703096353783.png) no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.logo__description {
    font-weight: 800;
    letter-spacing: -0.01em;
    color: #1E1B4B;
    text-decoration: none;
}
.navbar__item-row {
    border: 1px solid var(--fiol);
    border-radius: 100px;
    transition: all 0.3s ease;
}
.navbar__item-row:hover {
    background-color: var(--light-fiol);
}
.navbar__link {
    padding: 4px 12px 4px 12px;
    font-size: 20px;
    color: var(--fiol);
}
.menu-wrap__item-row .navbar__link {
    font-size: 30px;
}
.navbar__button {
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 24px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: var(--orange);
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease;
}
.navbar__button:hover {
    background-color: var(--light-orange);
}
.navbar__button.active {
    opacity: 1;
    visibility:visible;
}
.main{
    padding-top: 100px;
}
.menu {
    position: fixed;
    width: 100%;
    top: 100px;
    transition: all 0.5s ease;
    transform: translateY(-200%);
}
.menu.active {
    transform: translateY(0%);
}
.menu-wrap {
    background-color: var(--light-fiol);
    padding: 26px 0;
}
ul.menu-wrap__list-col {
    display: flex;
    align-items: center;
    gap: 40px;
}
.menu-button {
    width: 80px;
    height: 100px;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    border: none;
    border-right: 1px solid var(--light-fiol);
    border-left: 1px solid var(--light-fiol);
    display: none;
}
.menu-button__line {
    display: block;
    width: 40px;
    height: 4px;
    background-color: #000;
    position: absolute; 
    left: 25%;
    transition: all 0.3s linear;
}
.button__line1 {
    top: 38%;
}
.button__line2,  .button__line3{
    top: 50%;
    transform: translateY(-50%);
}
.button__line4 {
    bottom: 38%;
}
.menu-button.animate .button__line1, .menu-button.animate  .button__line4  {
    opacity: 0;
}
.menu-button.animate .button__line2 {
    transform: translateY(-50%) rotate(45deg);
}
.menu-button.animate .button__line3 {
    transform: translateY(-50%) rotate(-45deg);
}